body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main {
    height: 300px;
    width: auto;
    margin-bottom: 20px;
   
}

.header,
.footer,
.section-one {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
}

ul {
    font-size: 18px;
    color: #E5E7Eb;
    display:flex;
    list-style: none;
    gap: 16px; 

}
.logo {
    font-size: 24px;
    color: #F9FaF8;
}

.section-one {
    display: flex;
    padding: 50px 100px;  
}

.left-one {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    margin-right: 20px;
   
}

.title1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.main-image {

    margin-left: 30px;
    border-radius: 0;
}

p {
    font-size: 18px;
    color: #E5E7Eb;
}


button {
    border-radius: 8px;
    border: none;
    border: 2px solid;
    border-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 8px 20px;
}
.section-two {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    align-items: center;
    gap: 30px;

}

.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.people {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.content-four {
    background-color: #3882f6; 
}

 .us { 
    height: auto;
    border-radius: 8px; 
    object-fit: cover;
    width: 150px; 
}
.text {
    width: 150px;
    text-align: center;

}
.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 8px 100px;
    align-items: center;
    padding: 30px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
} 
.signature {
    font-weight: 600;
    align-self: flex-end;
}

.section-four {
    padding: 50px 100px;  
}

.content4 {
    background-color: #3882f6; 
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 8px;
    
}
.button2 {
    border: 2px solid white;
    border-radius: 8px;

}

.call { 
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}
.donate {
    color: #f9faf8;
    font-size: 18px
}

.footer {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
}